<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="logs"/>
    
  <targets>
    <target name="file" xsi:type="File"
            fileName="${specialfolder:folder=ApplicationData}/Lyrixound/${logDirectory}/${shortdate}.log"
            footer="===END===${newline}"
            layout="${time}|${level:uppercase=true}|${callsite}|${message} ${exception:format=toString}"
            maxArchiveFiles="5"/>
    
    <target name="output" xsi:type="OutputDebugString"
            layout="${time}|${level:uppercase=true}|${callsite}|${message} ${exception}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file"/>
    <logger name="*" minlevel="Trace" writeTo="output"/>
  </rules>
</nlog>